- title 'authorization'
#login-page
  .container
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-login" }) do |f|
      %h2.form-login-heading= t('authorization')
      .login-wrap
        = f.input_field :login, required: false, placeholder: t('login'), autofocus: true, class: "form-control"
        %br
        = f.input_field :password, autocomplete: "off", required: false, placeholder: t('password'), class: "form-control"
        %br
        %button{:type => "submit", :class => "btn btn-theme btn-block"}= "<i class=\"fa fa-lock\"></i> #{t('sign_in')}".html_safe
